<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resilience • Note</title>

    </head>
    <body>
        <h1>Note</h1>
        <div id="app"></div>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/require.js")' data-main="@routes.Assets.at("javascripts/main")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/note.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/resilience-sync-ui.min.css")"/>
    </body>
</html>